.react-autosuggest__input {
  padding: 16px 30px 16px 40px;
  width: 98%;
  border-radius: 3px;
  border: none;
  font-weight: 300;
}

.react-autosuggest__container {
  position: relative;
  width: 100%;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  width: 100%;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 50px;
  width: 98%;
  border-top: 1px solid #C6D0DA;
  background-color: #fff;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #6b87a4;
  max-height: 260px;
  overflow-y: auto;
  z-index: 2;
  padding: 5px 0px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  border-bottom: 1px solid #C6D0DA;
}

.react-autosuggest__suggestion:last-child {
  border: 0;
}


.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px solid #C6D0DA;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__title {
  display: block;
  padding: 10px 22px 10px 22px;
  font-size: 18px;
  font-weight: 300;
  color: #484848;
  text-transform: uppercase;
}

.react-autosuggest__name {
  display: block;
  padding: 0 22px 10px 22px;
  font-size: 14px;
  font-weight: 300;
  color: #767676;
}
